@mixin no_margin() {
    margin: 0;
}

@mixin border($type, $color: black) {
    border: 1px $type $color;
}

@mixin link() {
    &:hover {
        text-decoration: none;
        color: red;
        @content;
    }
}

a {
    font-size: 0.9rem;
    @include link() {
        padding: 1px;
    };
}

body {
    @include no_margin();
    @include border(solid, green);
}

article {
    @include no_margin();
    @include border(solid);
}