
@use "sass:map";
@use "sass:list";
//Null

$no_value: null; //falsey value


// Boolean values

$var1: true;
$var2: false;

//maps
$border_pairs: ("width": 1px, "color": black, "type": solid);

section {
    border: map.get($border_pairs, "width") map.get($border_pairs, "type") map.get($border_pairs, "color");
}



//lists

$numbers: (12px 40px 50% 1rem);
$border: 1px solid black;
section {
    min-width: list.nth($border, 1);
    border: $border;
}


// Colors

$bg: rgba(255,122,230,0.6);
//hsl
body {
    background-color: $bg;
}

//number

$width: 200.5px;

article {
    min-width: $width;
}

//quoted strings

$font-family: 'Helvetica Neue';
$file-name: 'background.png';

article {
    font-family: $font-family;
    background-color: url("/images/#{$file-name}");
}

//unquotes strings

$type: solid;
$prefix: -ms;


article {
    border: 1px $type black;
    #{$prefix}-flex: 1;
}