* {
    margin: 0;
    padding: 0;
}

.image {
    width: 1440px;
    height: 1080px;
    background-image: url("images/img.png");
    background-size: contain;
    background-position: center;
}

h1, h2, p, li {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
}

.header, .description, .footer {
    color: #FFF;
    background-color: #E5E000;
}

.header {
    padding: 80px;
}

.description {
    padding: 36px 0 35px 80px;
}

.content {
    padding: 110px 80px 100px 80px;
}
p {
    margin-top: 50px;
}

ol {
    margin: 80px;
}

.footer {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:visited:active {
    color: red;
}

a:visited:hover {
    color: orange;
}